fastapi==0.115.12
uvicorn==0.34.2

langchain==0.3.25
langchain-community==0.3.23
langchain-openai==0.3.17
langchain-text-splitters==0.3.8

faiss-cpu==1.11.0
sentence-transformers==4.1.0

openai==1.79.0
tiktoken==0.9.0

python-dotenv==1.1.0
requests==2.32.3

duckduckgo-search==8.0.2
beautifulsoup4==4.13.4

cachetools==5.5.2
numpy==2.2.5
pandas==2.2.3

pydantic==2.11.4

GitPython==3.1.44
unstructured==0.13.5
urllib3==2.7.0
charset-normalizer==3.4.7
chardet==7.4.3
sentence-transformers>=2.7.0
langchain-huggingface>=0.0.3
